/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Header styling */
header {
    background-color: #004080; /* Dark blue background */
    color: white;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #004080; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffc107; /* Light yellow color for links */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Recommendation section styling */
.recommendation-section {
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}
